.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#board {
    display: grid; 
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

#board div {
    border: 1px black solid;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#board div:hover {
    cursor: pointer;
    background-color: lightgray;
}